@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

/* font-family: Combo; */
.portfolio {
  /* height: 71vh; */
  color: #f6f4e6;
  margin-left: 28vw;
  justify-content: center;
  align-items: center;
}

.project-info {
  border-style:groove;
  border-color: gray;
  width: 40vw;
  height: 50vh;
  margin: 10px;
}



.project-name{  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #68CBF8;
  margin-top: 10px;
  font-size: 30px;
}

.project-lang {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-description {
  height: 110px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-cover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 244px;
  width: 321px;
}

.project-cover img{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 244px;
  width: 321px;
}